/* THIS CUSTOM CSS WILL BE LINKED IN ADDITION TO THE BOOTSTRAP CSS */

/*CURRENT STYLE HAS BEEN KEPT TO A MINIMUM FOR FUNCTIONALITY PURPOSES*/
ul{
    list-style: none;
}

li:first-of-type{
    margin-top: 20px;
}

a:hover {
    text-decoration: none;
}

a:visited{
    color:#000000;
    text-decoration: none;

}

.moviePage a{
    clear: both;
    padding: 10px;
}

.moviePage p{
    color: black;
    float: none;
}



