<section class="mainPage">

    <div class = "container-fluid">
        <div class="row-fluid">
            <div class="span2">

            </div>
            <div class="span10">
                <!--Body content-->
                <h1>Movies in Theaters</h1>
                <h3>Powered by Rotten Tomatoes</h3>

                <!--Sidebar content-->
                <label>Search:</label> <input ng-model="query">
                <label>Sort by:</label>
                <select ng-model="orderProp">
                    <option value="name">Title</option>
                </select>
                <ul>
                    <li ng-repeat="movie in movies.movies | filter:query | orderBy:orderProp">
                        <!--ROTTEN TOMATOES API INFO WILL GO IN HERE-->
                        <p><img src="{{movie.posters.profile}}" alt="{{movie.title + 'poster'}}"/>
                        <h3>{{movie.title}}</h3>
                        <p>Critic's Score:{{movie.ratings.critics_score}},
                            Audience Score:{{movie.ratings.audience_score}}</p>

                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>